div{
    /*border: 1px solid black;*/
}
.mar{
    margin-bottom: 10%;
}
/*.ellipse1{
    border-radius: 50%;
    width: 50%;
    height: 50%;
    background-color: #E9C46A;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.ellipse2{
    border-radius: 50%;
    width: 50%;
    height: 60%;
    background-color: #588B8B;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}*/